{% extends "exhibits/exhibitView.html,exhibits/pjaxTemplates/pjax-exhibit-item.html"|pjax_available:request %}
{% load lockups %}

{% if calisphere %}
	{% block page-metadata %}
		{% social_media_card exhibit request.session.index as social_card %}
		{% include "calisphere/microdata.html" with title=exhibit.title description=exhibit.blockquote meta_image=social_card meta_robots="noindex,follow" %}
	{% endblock %}
{% endif %}

{% block itemContent %}
{% include "exhibits/item_content.html" with url_name='exhibits:itemView' url_id=exhibitItem.exhibit.id item_count=exhibitItem.order|add:1 total_count=exhibitItem.exhibit.exhibititem_set.all|length %}
{% endblock %}